<div class="fade" [class.in]="visible">
  <div class="ng2-openmodal-overlay" (click)="dismiss()"></div>
    <div class="ng2-openmodal-modal" tabindex="-1" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" aria-label="Close" (click)="dismiss()"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">{{title}}</h4>
          </div>
          <i #contentPlacement></i>
        </div>
      </div>
    </div>
</div>
